

.but {
    width: 14vw;
    height: 8vh;
    transition: background-color 1s ease;
    background-color: #91655E;
    border-radius: 15vw;
    position: fixed;
    bottom: 3.5vh;
    right: 3.5vw;
    z-index: 1;
    text-transform: uppercase;
    font-size: 4vh;
    font-family: sans-serif;
}

.but:hover {
    transition: background-color 0.5s ease;
    background-color: #AD8984;
}

.butText {
    margin-top: 2vh;
    text-align: center;
    font-size: 3.25vh;
    font-family: sans-serif;
    color: white;
    font-weight: normal;
}

.but_inside {
    width: 7vw;
    height: 4vh;
    transition: background-color 1s ease;
    background-color: #91655E;
    border-radius: 2vh;
    text-transform: uppercase;
    font-size: 2vh;
    font-family: sans-serif;
}

.but_inside_text {
    margin-top: 2vh;
    text-align: center;
    font-size: 1.75vh;
    font-family: sans-serif;
    color: white;
    font-weight:normal;
}

.hrefnohighlight {
    color: white;
    text-decoration: none;
    background-color: none;
}

.submit_box {
    z-index: 10;
    background-color: #E4D6D4;
    border-radius: 2vh;
    width: 30vw;
    height: 60vh;
    position: fixed;
    bottom: 12.5vh;
    right: 3vw;
    overflow-y: auto;
}