

.but {
    height: 8vh;
    width: 13vw;
    transition: background-color 1s ease;
    background-color: #91655E;
    border-radius: 15vw;
    position: fixed;
    bottom: 3.5vh;
    right: 3.5vw;
    z-index: 1;
    text-transform: uppercase;
    font-size: 4vh;
    font-family: sans-serif;
}

.but:hover {
    transition: background-color 0.5s ease;
    background-color: #e3bcb7;
}

.butText {
    margin-top: 2vh;
    text-align: center;
    font-size: 2vh;
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.but_inside {
    width: 7vw;
    height: 4vh;
    transition: background-color 1s ease;
    background-color: #91655E;
    border-radius: 2vh;
    text-transform: uppercase;
    font-size: 2vh;
    font-family: sans-serif;
}

.but_inside_text {
    margin-top: 2vh;
    text-align: center;
    font-size: 1.75vh;
    font-family: sans-serif;
    color: white;
    font-weight:normal;
    text-decoration: none;
}

.hrefnohighlight {
    color: white;
    text-decoration: none;
    background-color: none;
}

.submit_box {
    z-index: 10;
    background-color: #E4D6D4;
    border-radius: 2vh;
    width: 30vw;
    height: 65vh;
    position: fixed;
    bottom: 12.5vh;
    right: 3vw;
    overflow-y: auto;
    box-shadow: -5px -2px 15px #91655E;
}

.black_bg{
    position: fixed;
    width: 100%;
    height: 100%;
    inset: 0;
    z-index: 1;
    background: #000D;
    justify-content: center;
    align-items: center;
}

hr.bold_black{
    border: 1px solid black;
}

.textNotSubmitted{
    text-align: center;
    color: red;
    font-weight: bold;
}

.textSubmitted{
    text-align: center;
    color: green;
    font-weight: bold;
}