@import url('https://fonts.googleapis.com/css2?family=Chivo&display=swap');

.clickable-div {
    justify-content: center;
    border-radius: 10px;
    margin: 10px 5px 10px 5px;
    background-color: #f5f1ed;
    width: 215px;
    height: 350px;
}

.item {
    border-radius: 15px;
    width: 200px;
    height: 225px;
}

.img-block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 240px;
}

.img-text-block {
    width: 200px;
    height: 70px;
    margin: 10px;
}

.img-title {
    font-size: 20px;
    font-family: Chivo;
    letter-spacing: 1px;
}

.desc-box {
    width: 200px;
    height: 60px;
    font-size: 12px;
    font-family: Chivo;
    overflow: hidden;
    margin-bottom: 10px;
}

.desc-text {
    display: -webkit-box;
    max-width: 200px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}