@font-face {
    font-family: 'Chivo';
    src: url(/Users/alexrougebec/Documents/GitHub/website/public/fonts/Chivo/static/Chivo-Thin.ttf);
    font-weight: normal;
    font-style: normal;
  }
* {
    font-family: 'Chivo';
}
.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width:100%;
    background-color: white;
}

button {
    padding: 10px
}

.sell-section-left {
    display: flex;
    width: 50vw;
    min-width: 350px;
    height: 40vh;
    justify-content: center;
    align-items: center;
}

.sell-section-right-wrapper{
    display:flex;
    width: 50vw;
    min-width: 350px;
    justify-content: center;
    align-items: center;
}

.sell-image-left {
    width: 300px;
    height: 180px;
    box-shadow: 10px 8px 0 rgb(34, 60, 80, .16);
    aspect-ratio: auto;
    object-fit: cover;
    border-radius: 20%;

}

.sell-section-right{
    color: black;
    display: flex;
    font-size: 15px;
    flex-direction: column;
    width: 350px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 30vh;
    box-shadow: 0 4px 8px 0 rgb(34, 60, 80, .16);

}
.sell-button {
    color: #FFFFF0;
    background-color: #57201B;
}

.buy-button {
    color: #57201B;
    background-color: #FFFFF0;
}

.buy-section-left-wrapper{
    display:flex;
    width:50vw;
    min-width: 45vw;
    justify-content: center;
    align-items: center;
}

.buy-section-left{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 30vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgb(34, 60, 80, .16);
}

.buy-section-right {
    width: 50vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}   

.buy-image-right {
    width:300px;
    height: 180px;
    aspect-ratio: auto;
    object-fit: cover;
    border-radius: 20%;
    box-shadow: 10px 8px 0 rgb(34, 60, 80, .16);
}

/*Project Description 3rd row ---------------*/
#project-description {
    color: black;
    font-size: 30px;
}

/*About Us Section 4th row ------------------*/
#about-section {
    display: flex;
    text-align: center;
}

.members-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-size: 25px;
}

.contact-wrapper{
    display: flex;
    justify-content: center;
    width: 50%;
    background-color: white;
}
.contact-box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 330px;
    width: 600px;
}

.aboutimg {
    aspect-ratio: auto;
    max-width: 80px;

}

.project-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin:100px;
    margin-top: 50px;
}

.sell-section-right:hover{
    box-shadow: 0 16px 32px 0 rgb(34, 60, 80, .16);

}

.buy-section-left:hover{
    box-shadow: 0 16px 32px 0 rgb(34, 60, 80, .16);
}