* {
    font-family: 'Chivo';
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width:100%;
    height: 400px;
    background-image: url("/images/school.png");
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
}

button {
    padding: 10px
}

.sell-section-left {
    display: flex;
    width: 50vw;
    min-width: 350px;
    height: 40vh;
    justify-content: center;
    align-items: center;
}

.sell-section-right-wrapper{
    display:flex;
    width: 50vw;
    min-width: 350px;
    justify-content: center;
    align-items: center;
}

.sell-image-left {
    width: 50%;
    height: 60%;
    box-shadow: 10px 8px 0 rgb(34, 60, 80, .16);
    aspect-ratio: auto;
    object-fit: cover;
    border-radius: 20%;

}

.sell-section-right{
    font-family: 'Chivo', sans-serif;
    overflow:auto;
    color: black;
    display: flex;
    font-size: 15px;
    flex-direction: column;
    width: 350px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 30vh;
    box-shadow: 0 4px 8px 0 rgb(34, 60, 80, .16);
    background-color: white;
    border-radius: 10%;
}
.sell-button {
    color: #FFFFF0;
    background-color: #57201B;
}

.buy-button {
    color: #57201B;
    background-color: #FFFFF0;
}

.buy-section-left-wrapper{
    display:flex;
    width:50vw;
    min-width: 45vw;
    justify-content: center;
    align-items: center;
}

.buy-section-left{
    font-family: 'Chivo', sans-serif;
    font-size: 15px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    width: 350px;
    min-width: 350px;
    height: 30vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgb(34, 60, 80, .16);
    background-color: white;
    border-radius: 10%;
}

.buy-section-right {
    width: 50vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}   

.buy-image-right {
    width: 40%;
    height: 70%;
    aspect-ratio: auto;
    object-fit: cover;
    border-radius: 20%;
    box-shadow: 10px 8px 0 rgb(34, 60, 80, .16);
}

/*Project Description 3rd row ---------------*/
#project-description {
    overflow: auto;
    color: black;
    font-size: 30px;
}

/*About Us Section 4th row ------------------*/
#about-section {
    display: flex;
    text-align: center;
    flex-direction: column;
}

.members-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 20px;
}

.project-wrapper {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin:100px;
    margin-top: 50px;
    box-shadow: 0 4px 8px 0 rgb(34, 60, 80, .16);
    background-color: white;
    border-radius: 5%;
}

.sell-section-right:hover{
    box-shadow: 0 16px 32px 0 rgb(34, 60, 80, .16);

}

.buy-section-left:hover{
    box-shadow: 0 16px 32px 0 rgb(34, 60, 80, .16);
}

@media (width < 1200px) {
    .sell-section-left{
      display: none;
    }
    .buy-section-right{
        display:none;
    }
}

#team-members-title-box {
    width: 50vw; 
    height: 60px;
    display:flex;
    flex-direction: column;
    justify-content: top;
    background-color: white;
    border-radius: 1%;
    margin: 10px;
}

#team-members {
    width: 90vw;
    height: 150px;
    font-size: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: white;
    border-radius: 5%;
}

.a, .b, .c, .d, .e{
    font-family: 'Space_Mono', monospace;
    padding: 30px;
    margin: 0px;
    color: black;
}

#team {
    font-size: 50px;
    padding: 0px;
    margin: 0px;
}

.description {
    font-family: 'Space_Mono', monospace;
    color: black;
}
