img.item {
    border-radius: 15px;
    width: 200px;
    height: 225px;
}

.main_div {
    display: block;
    justify-content: space-between;
}

.link {
    color: black;
    text-decoration: none;
    background-color: none;
}

.see_all {
    text-transform: uppercase;
    color: #74423B;
}

.see_all:hover {
    color: #AD8984;
    transition: ease-in 0.2s;
}

.block {
    display: block;
    margin-top: 3vh;
    width: 97.5%;
}

.img-div {
    justify-content: center;
    border-radius: 10px;
    background-color: #E4D6D4;
    width: 210px;
    height: 290px;
    margin: 10px 5px 10px 5px ;
}