@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

.row {
    margin-bottom: 30px;
}

.outside_div {
    height: 100%;
}

.banner_div {
    display: flex;
    width: 100%;
    justify-content: center;
}

.main_div {
    display: block;
    margin-top: 50px;
    margin-left: 15vw;
    margin-right: 15vw;
    width: 70vw;
    overflow: hidden;
    justify-content: space-between;
}

.title-line {
    display: flex;
    justify-content: space-between;
    font-family: Comfortaa;
}

.title {
    font-family: Comfortaa;
    font-size: 25px;
    text-transform: capitalize;
    letter-spacing: 0.25em;
}

.link {
    color: black;
    text-decoration: none;
    background-color: none;
}

.see_all {
    text-transform: uppercase;
    color: #74423B;
}

.see_all:hover {
    color: #AD8984;
    transition: ease-in 0.2s;
}

.block {
    display: block;
    width: 97.5%;
}

.img-row {
    display: flex;
    flex-wrap: row;
}
