@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

img.item {
    border-radius: 15px;
    width: 300px;
    height: 350px;
}

.description_text {
    font-family: 'Roboto', sans-serif;
}