.itemPageBody {
    overflow: hidden;
}

.main_div {
    display: block;
    justify-content: space-between;
}
  
.left {
    float: left;
    width: 39%;
    height: 100%;
    box-sizing: border-box;
    padding-right: 0.5em;
    
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
}
  
.right {
    float: left;
    width: 58.5%;
    height: 560px;
    box-sizing: border-box;
    overflow-y: auto;
}

.preview_img {
    max-width: 100%; /* or any custom size */
    max-height: 561px;
}