
.itemPageBody {
  overflow: hidden;
}

.left {
  float: left;
  width: 40vw;
  height: 89vh;
  box-sizing: border-box;
  padding-right: 1em;
  padding-left: 1em;
}

.right {
  float: left;
  width: 59vw;
  height: 89vh;
  box-sizing: border-box;
  overflow-y: auto;
  padding-right: 0.5em;
}

.preview_img {
  max-width: 100%; /* or any custom size */
  max-height: 79vh;
}