
.bar{
    display: flex;
    justify-content: space-between;
    width: 97.5%;
    height: 20vh;
    border-bottom: solid 0.5px;
}

.header-text{
    margin-top: 1vh;
}

.header-logo{
    top: 0px;
    height: 100%;
    width: auto;
    margin-top: 1vh;
    margin-left: 1vw;
    position: relative;
    width: 7vw;
    height: 7vw;
}

.the-logo{
    position: absolute;
    z-index: 0;
}

.hl_bg{
    position: relative;
    margin-left: 1vw;
    width: 7vw;
    height: 7vw;
}

.hl_bg:before{
    position: relative;
    content: "";
    display: block;
    width: 7vw;
    height: 7vw;
    transform: rotate(45deg);
}

.hl_bg:hover{
    background: rgba(200, 180, 150, .08);
    animation: 2.5s rotate infinite linear;
}

.hl_bg:hover:before{
    background: rgba(200, 180, 150, .08);
}

.hl_bg:hover .the-logo{
    animation: 2.5s rotate infinite linear;
    animation-direction: reverse;
    top: 0;
    left: 0;
}

.right-group{
    display: flex;
    width: 30vw;
    justify-content: space-evenly;
    align-items: center;
}

.header-text{
    font-size: 1vw;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: lighter;
}

.header_link {
    color: black;
    text-decoration: none;
    background-color: none;
}

.header_link:hover {
    color: #C8AFAB;
    transition: ease-in 0.1s;
}

@keyframes rotate {
    0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
