
.bar{
    width: 100vw;
    z-index: 1;
    top: 0;

    /*how it feels*/
    display: flex;
    transition: 0.1s;
    position: relative;
    flex-direction: row;
    justify-content: center;

    /*colors*/
    color: var(--text-color);
    background: var(--nav-color);
}

.header-item{
    transition: 0.3s;
    color: var(--bg-color) !important;
    transform: scale(1.1);
}

.bar>.header-item{
    margin-left: 1vw;
    margin-right: 1vw;
    transition: 0.5s;
    padding: 0.65vh  2.08vw 1.3vh 2.08vw;
}

.bar>.header-item:hover {
    transition: 0.3s;
    color: var(--bg-color) !important;
    background: var(--highlight-color) !important;
    transform: scale(1.1);
}