.main-footer {
  display: flex;
  width: 98.9vw;
  height: 350px;
  background-color: #e3bcb7;

}
.second-footer {
  display:flex;
  width:98.9vw;
  height:300px;
  background-color:black;
}


.column {
  display: flex;
  width: 15vw;
  font-family: sans-serif;
  font-size: 15px;
  justify-content: center;
  align-items: top;
  border-top: 3px;

}

.footer_link {
  color: black;
  text-decoration: none;
  background-color: none;
  margin-left: 2vw;
  margin-right: 2vw;  
}
